body {
  background-color: #FFC947; 
	color: black;
}
#bweew {
	font-family: cursive;
	letter-spacing: 60px;
	font-size: 10em;
	text-align: center;
	text-decoration: none;
	margin-bottom: 10%;
	margin-top: 10%;
	display: block;
	text-shadow: 20px 20px 30px green;
}
img {
float: right;
padding-left: 30px;
}
}
h2 {
	font-size: 4em;
}
nav {
	font-size: 3em;
	text-align: center;
}

section {
	font-size: 3em;
	font-family: menlo;
	padding: 10%;
}

section.youtube {
	font-size: 3rem;
	font-family: arial;
	list-style-type: none;
	padding: 0px;
}

#link {
 list-style: none;
}