body {
  background-color: #FFC947; 
	color: black;
}
#bweew {
	font-family: cursive;
	letter-spacing: 60px;
	font-size: 10em;
	text-align: center;
	text-decoration: none;
	margin-bottom: 10%;
	margin-top: 10%;
	display: block;
	text-shadow: 20px 20px 30px green;
	
 
}
img {
float: right;
padding-left: 0px
margin-right: 100px;
margin-top: 100px;
transform: scale(1);
shape-outside: url(https://i.imgur.com/EMHLO27.png);
display: flow-root;
shape-margin:1rem;
margin-right:20px;
translate: (-3rem, -3rem);
flex-grow: 1;
}

h2 {
	font-size: 2em;
	margin-bottom: 20%;
}
h3 {
	text-shadow: 5px 5px 30px red;	
}
h5 {
	text-shadow: 5px 5px 30px red;	
}
nav {
	font-size: 3em;
	display: inline;
	white-space: nowrap;
	margin-left: 20%;
	background-color: orange;
	border-style: groove;
		border-radius: 20px;
		padding: 10px;
	margin: auto;
	max-width: 800px;	
	transform: translate(0px, 50px);
}

section {
	font-size: 3em;
	font-family: menlo;
	padding: 10%;
	margin-bottom: 50%;
	background-image: linear-gradient(#FFC947, aqua);
	border-style: groove;
			border-radius: 40px;
			max-width: 800px;
			flex-wrap: wrap;	
			margin: auto;
}

#ul {
		text-shadow: 5px 5px 30px red;
}

section.youtube {
	font-size: 3rem;
	font-family: arial;
	list-style-type: none;
	padding: 0px;
}

#link {
 list-style: none;
}
p.foot{
	text-align: center;
	white-space: nowrap;
	font-size: 50px;
}
p {
	text-shadow: 5px 5px 30px red;
}
pre {
		text-shadow: 5px 5px 30px red;
}
p.column{
	column-count: 2;
	column-gap: 50px;
	font-family: serif;
	text-shadow: 10px 10px 30px red;
}
.emo {
	font-size: 300px;
	text-decoration: none;
}
.space {
	padding-bottom: 10000px;
}