* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
  background-color: #FFC947; 
	color: black;
  font-family: "Menlo", monospace, sans-serif;
}
.img {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

h1 {
  text-align: center;
  margin-top: 7%;
}

ul {
  list-style-type: disclosure-closed;
  margin: 5% 20%;
  padding: ;
  line-height: 170%;

}